html{
    background-attachment: fixed;
    background-color: rgb(148, 185, 218);
    background-size: cover;
    background: linear-gradient(189deg,rgb(148,185,218),rgb(0, 13, 24));
    background-repeat: no-repeat;
    height:100% ;
    width: 100%;
}
.box{
    background-color: white;
    height: 70%;
    width: 20%;
    position: relative;
    top: 20%;
    left: 40%;
    border-radius: 10px;
    background: linear-gradient(189deg,rgb(76, 104, 128),rgb(66, 151, 226));
}
.text_right{
  color: white;
    background-color: rgba(56, 56, 224, 0.644);
    border-radius: 10px;
    margin-left: 20px;
    text-align: center;
   
    display: block;
     padding: 5px;

    
}

.main{
    display: flex;
    margin-top: 15px;
    padding: 10px;

    
}
.footer{
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    background-color: white;
    

}
.footer .input{
    
    width: 100%;
    height: 30px;
    border-radius: 11px;
    border: none;
    padding: 5px;
    margin: 2px;
    flex: 1;
    outline: none;
    text-align: center;
}
.text_left{
  color: white;
    background-color: rgba(56, 56, 224, 0.644);
    border-radius: 10px;
    margin-left: 40%;
    text-align: center;
   
    display: block;
     padding: 5px;

    
}